:root {
  --primary-color: #007bff;
  --box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.accordion-item {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.accordion-item:hover {
  transform: translateY(-5px);
}

.accordion-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  font-size: 1.1rem;
  text-align: left;
  background-color: #f8f9fa;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.accordion-button span {
  font-weight: 700;
  color: inherit;
}


.accordion-button::after {
  content: '+';
  font-size: 1.5rem;
  color: var(--primary-color);
  transition: transform 0.3s ease, color 0.3s ease;
}

.accordion-button[aria-expanded="true"]::after {
  content: '-';
}


.accordion-content {
  display: none;
  padding: 15px;
  background-color: #fff;
}

.accordion-content.active {
  display: block;
}

.accordion-content-text {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.accordion-content p {
  all: unset;
}

.accordion-content p.accordion-content-text {
  display: block;
  margin-bottom: 10px;
}





.feature-list {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  list-style-type: none;
  padding-left: 0;
}

.feature-items ul {
  list-style-type: none;
  padding: 0;
}

.feature-items li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.feature-items i {
  margin-right: 10px;
  color: var(--primary-color);
}



.accordion-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}



.accordion-button {
    cursor: pointer;
    /* 他のスタイルを必要に応じて追加 */
}

.toggle-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  margin-left: 10px;
}

.toggle-icon::before,
.toggle-icon::after {
  content: '';
  position: absolute;
  background-color: #2589D0;
  transition: transform 0.3s ease;
}

.toggle-icon::before {
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  transform: translateY(-50%);
}

.toggle-icon::after {
  top: 0;
  left: 50%;
  height: 100%;
  width: 2px;
  transform: translateX(-50%);
}

.accordion-button[aria-expanded="true"] .toggle-icon::after {
  transform: translateX(-50%) rotate(90deg);
}

.accordion-button[aria-expanded="true"] .toggle-icon::before {
  opacity: 0;
}

.accordion-content {
  display: none;
}

.accordion-content.active {
  display: block;
}