#recommended-title {
  display: inline-block;
  padding: 10px 30px;
  color: #333;
  position: relative;
  cursor: pointer;
  transition: color 0.3s;
  display: flex;
}

#recommended-title:hover {
  color: #0481A2;
}

#recommended-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  background: #0481A2;
  transition: all .3s;
  transform: scale(0, 1);
  transform-origin: left top;
}

#recommended-title:hover::after {
  transform: scale(1, 1);
}


